RewriteEngine On
Options -Indexes

<Files .env>
    order allow,deny
    Deny from all
</Files>

ErrorDocument 400 https://isearch.agc.com.ph/error.php?code=400
ErrorDocument 401 https://isearch.agc.com.ph/error.php?code=401
ErrorDocument 403 https://isearch.agc.com.ph/error.php?code=403
ErrorDocument 404 https://isearch.agc.com.ph/error.php?code=404
ErrorDocument 500 https://isearch.agc.com.ph/error.php?code=500